@charset "utf-8";

h3{position: relative; padding: 0 0 80px; font-weight: 600; font-size: 3rem; color: var(--horse-green);}
h3::after{content: ''; position: absolute; left: 0; bottom: 65px; display: block; width: 100%; height: 1px; background: var(--horse-green);}

@media(max-width:900px){
  h3{padding: 0 0 30px; font-size: 1.8rem;}
  h3::after{bottom: 20px;}
}
@media(max-width:500px){
  h3{padding: 0 0 20px; font-size: 1.6rem;}
  h3::after{bottom: 15px;}
}

/*sub-visual*/
.sub_visual{position: relative; height: 430px; text-align: center;}
.sub_visual h2{position: relative; width: 100%; padding: 130px 0 60px; color: #fff; font-weight: 600; font-size: 5rem;}
.sub_visual h2::after{content: ''; position: absolute; left: 50%; bottom: 35px; display: block; width: 400px; height: 1px; background: #fff; transform: translateX(-50%);}
.sub_visual h2+p{color: #fff; font-weight: 600; font-size: 2rem;}

.sub_visual .lnb_area{position: absolute; left: 3%; top: 5%; display: none; z-index: 10;}
.sub_visual .lnb_area > li:first-child{width: 110px;}
.sub_visual .lnb_area > li{padding: 10px 5px; width: 130px;}
.sub_visual .lnb_area > li > a{color: #fff; font-weight: 600; pointer-events: none;}
.sub_visual .lnb_area > li > a img{display: inline-block; padding-left: 5px; vertical-align: middle;}
.sub_visual .lnb_area > li ol{display: none; background: rgba(0,0,0,0.8);}
.sub_visual .lnb_area > li ol li a{display: block; padding: 5px 0 0; color: #fff; font-weight: 600;}
.sub_visual .lnb_area > li ol li:last-child a{padding: 5px 0;}

.entrance_visual{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(../img/sub/sub_mb_park.jpg) no-repeat center / cover;}
.parking_visual{position: relative; height: 430px; text-align: center; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(../img/sub/sub_mb_parking.jpg) no-repeat center / cover;}
.program_visual{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/sub/sub_mb_program.png) no-repeat center / cover;}
.reserve_visual{background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(../img/sub/sub_mb_ground.jpg) no-repeat center / cover;}


@media(max-width:900px){
  .sub_visual{height: 330px; padding: 0 24px;}
  .sub_visual h2{padding: 100px 0 60px; font-size: 2.2rem}
  .sub_visual h2::after{width: 177px;}
  .sub_visual h2+p{font-size: 1.6rem}
  .sub_visual .lnb_area{display: flex;}
}
@media(max-width:500px){
  .sub_visual{height: 230px; padding: 0 16px;}
  .sub_visual h2{padding: 70px 0 30px; font-size: 1.6rem}
  .sub_visual h2::after{width: 129px; bottom: 20px;}
  .sub_visual h2+p{font-size: 1.4rem}

  .sub_visual .lnb_area{ left: 2%; top: 3%;}
  .sub_visual .lnb_area > li:first-child{width: 85px;}
  .sub_visual .lnb_area > li{padding: 10px 5px; width: 110px;}
  .sub_visual .lnb_area > li > a{font-size: 1.4rem;}
  .sub_visual .lnb_area > li ol li a{font-size: 1.4rem;}
  .sub_visual .lnb_area > li > a img{transform: scale(0.8);}
}